/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #fff;
  background-color: #111;
  line-height: 1.6;
}

header {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  height: 40px;
}

.logo {
  display: flex;
  align-items: center;
}

.nombre-banda {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin-left: 10px;
  font-family: 'Italianno', cursive;
}


.redes-header {
  display: flex;
  gap: 1rem;
  margin: 0 2rem;
}

.redes-header a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  transition: color 0.3s;
}

.redes-header a:hover {
  color: #e91e63;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Italianno', cursive;
  font-size: 1.8rem;
  transition: transform 0.3s ease;
  display: inline-block;
}

nav a:hover {
  transform: scale(1.5);
}

.hero {
  background: url("assets/imagenes/portada_banda.png") center center / cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero-texto h1 {
  font-size: 4rem;
  color: #fff;
}

.hero-texto p {
  font-size: 1.5rem;
  color: #ccc;
}

.sobre, .musica, footer {
  padding: 4rem 2rem;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  background: #e91e63;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  background: #000;
}

.redes a {
  margin: 0 1rem;
  color: #e91e63;
  text-decoration: none;
}
